/* IMPOSTAZIONI GENERALI */
body {
    width: 450px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(../img/sfondo.png);
    background-position: center center;
    margin: 0 auto;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

/*HEADER*/
header {
    margin: 1.5em 1em;
    text-align: center;
    background: rgb(0, 160, 198);
    background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
    box-shadow: 0 3px 5px #444;
}

header img {
    width: 300px;
    margin: 2em;
}

header h1 {
    color: white;
    font-size: 1.3em;
    margin-bottom: 1em;
    font-weight: 600;
}

header ul {
    padding: 0.8em;
}

header ul li {
    margin-bottom: 1em;
}

header ul li a {
    text-decoration: none;
    color: white;
}

/* MAIN */
main {
    background-color: white;
    margin: 1.5em 1em;
    box-shadow: 0 3px 5px;
    padding: 2em 1.2em;
}

main h1 {
    font-size: 2em;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin-bottom: 1em;
}


/* ELEMENTI NEL MAIN - ARTICLE */
#author {
    color: gray;
    padding: 1em;
}


article p:nth-of-type(2) span {
    font-weight: 600;
    color: fuchsia;
}


main article ul {
    list-style-type: disc;
    padding: 0 2em;
}

main article ul li code {
    background-color: lightgray;
    border: 1px solid rgb(161, 146, 146);
    border-radius: 5px;
}

main article h2 {
    margin-top: 1.5em;
}

main article ol {
    list-style-type: decimal;
    padding: 0 2em;
}

p {
    margin-bottom: 1.5em;
}

iframe {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* TABELLE */
table caption {
    font-style: italic;
    font-weight: bold;
}

thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    vertical-align: bottom;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

table {
    margin-bottom: 2em;
}

/* FORM */
section {
    background-color: #ddd;
    margin-bottom: 1.5em;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em;
}

#newsletter-paragraph {
    color: black;
}

fieldset {
    text-align: center;
    padding-bottom: 1.5em;
}

input {
    padding: 0.5em;
    border: 0;
    border-bottom: 1px dashed #645f5f;
}

button {
    border: 0;
    padding: 4px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: #3f6bca;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

aside div {
    background-color: #ddd;
    border: 1px solid #c3c3c3;
    margin: 1.5em 0;
    padding: 0.8em;
}

aside .date-related {
    text-align: right;
}

/* FOOTER */

footer {
    background: rgb(53, 53, 53);
    background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
    box-shadow: 0 3px 3px #444;
    color: white;
    margin: 1.5em 1em;
    text-align: center;
}

footer p {
    padding-top: 1em;
}

footer address {
    padding-bottom: 1em;
}

footer address a {
    color: fuchsia;
}